<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  <style>
  body {
  font-family: Karla;
  }
  .font-serif {
  font-family: Spectral;
  }
  </style>

  {% block meta %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ config.base_url }}">
  <meta property="og:title" content="{{ config.title }}">
  <meta property="og:description" content="{{ config.description }}">
  <title>{{ config.title }}</title>
  {% endblock meta %}
  
</head>
<body class="flex flex-col bg-black text-white m-3 md:w-2/3 m-auto text-lg">
  <header class="w-full flex flex-col text-green-400 md:m-5 md:flex-row">
    <h1 class="font-serif text-5xl font-bold m-auto hover:text-green-200 hover:underline md:m-0"><a href="{{ config.base_url }}">Snow</a></h1>
    <div class="text-center text-xl w-full md:text-right m-auto mx-5">
        {% for link in config.extra.menu %}
        <a href="{{ link.url }}"><span class="p-3 hover:text-green-200 hover:underline hover:font-bold">{{ link.name }}</span></a>
        {% endfor %}
    </div>
   </header>

    {% block content %}
        {% for page in section.pages %}
            <div class="m-5 hover:-translate-y-1 transition rounded-xl outline-offset-4">
                <h2 class="text-3xl font-serif text-green-400 hover:text-green-200 hover:underline"><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
                <span>By <i>{{ config.extra.author }}</i>, <time>{{ page.date }}</time> {% if page.taxonomies.tags %}in {% for tag in page.taxonomies.tags %}<a class="text-green-400 hover:underline" href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a> {% endfor %}{% endif %}</span>
                {% if page.extra.image %}<a href="{{ page.permalink }}"><img class="rounded-lg cursor-pointer" src="{{ page.extra.image }}" alt=""></a>{% endif %}
                {% if page.extra.video %}<video class="rounded-lg" controls src="{{ page.extra.video }}" type="video/mp4"></video>{% endif %}
                {% if page.extra.raw %}{{ page.extra.raw | safe }}{% endif %}
                <div>{{ page.summary | safe }}<a class="text-green-400 hover:text-green-200 hover:underline" href="{{ page.permalink }}">Read more</a></div>
            </div>
            <hr class="mx-5 m-auto my-3">
        {% endfor %}
    {% endblock content %}

    <footer class="text-center mx-3">
        <p>Made with love using <a class="text-green-400 hover:text-green-200 hover:underline" href="https://getzola.org">zola</a> and <a class="text-green-400 hover:text-green-200 hover:underline" href="https://tailwindcss.com">tailwind</a>. All content here is under the <a class="text-green-400 hover:text-green-200 hover:underline" href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> license.</p>
    </footer>
</body>
</html>
