{% extends "index.html" %}

{% block meta %}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.permalink }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.summary }}">
<title>{{ page.title }}</title>
{% if page.extra.image %}<meta property="og:image" content="https://snowcode.ovh{{ page.extra.image }}">{% endif %}
{% endblock meta %}

{% block content %}
<div class="m-5">
    <h1 class="text-3xl font-bold font-serif">{{ page.title }}</h1>
    <span class="my-3">By <i>{{ config.extra.author }}</i>, <time>{{ page.date }}</time> {% if page.taxonomies.tags %}in {% for tag in page.taxonomies.tags %}<a class="text-green-400 hover:underline" href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a> {% endfor %}{% endif %}</span> 
    {% if page.extra.image %}<img class="rounded-lg" src="{{ page.extra.image }}" alt="">{% endif %}
    {% if page.extra.video %}<video class="rounded-lg" controls src="{{ page.extra.video }}" type="video/mp4"></video>{% endif %}
    {% if page.extra.raw %}{{ page.extra.raw | safe }}{% endif %}
    <div>{{ page.content 
            | replace(from="<p>", to="<p class='my-3'>")
            | replace(from="<h1 ", to="<h1 class='text-3xl font-serif font-bold my-5' ")
            | replace(from="<h2 ", to="<h2 class='text-3xl font-serif font-bold my-5' ")
            | replace(from="<h3 ", to="<h3 class='text-2xl font-serif underline my-5' ")
            | replace(from="<h4 ", to="<h4 class='text-2xl font-serif underline my-5' ")
            | replace(from="<h5 ", to="<h5 class='text-2xl font-serif underline my-5' ")
            | replace(from="<h6 ", to="<h6 class='text-2xl font-serif underline my-5' ")
            | replace(from="<pre ", to="<pre class='my-3 p-3 overflow-auto' ")
            | replace(from="<img ", to="<img class='rounded-lg'")
            | replace(from="<blockquote>", to="<blockquote class='pl-10 py-3 my-5 w-full bg-gray-500'")
            | replace(from="<a ", to="<a class='text-green-400 hover:underline'")
            | replace(from="<ul>", to="<ul class='list-disc list-inside ml-12'>")
            | replace(from="<ol>", to="<ol class='list-decimal list-inside ml-12'>")
            | safe }}
    </div>
</div>

{% endblock content %}
