{% extends "index.html" %}
{% block meta %}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ term.permalink }}">
<meta property="og:title" content="List of #{{ term.name }}">
<meta property="og:description" content="List of #{{ term.name }} posts from SnowCode's blog.">
<title>SnowCode | #{{ term.name }}</title>
{% endblock meta %}

{% block content %}
<h2 class="m-auto text-3xl italic font-serif">Posts with #{{ term.name }}</h2>
{% for page in term.pages %}
    <div class="m-5 hover:-translate-y-1 transition rounded-xl outline-offset-4">
        <h2 class="text-3xl font-serif text-green-400 hover:text-green-200 hover:underline"><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
        <span>By <i>{{ config.extra.author }}</i>, <time>{{ page.date }}</time> {% if page.taxonomies.tags %}in {% for tag in page.taxonomies.tags %}<a class="text-green-400 hover:underline" href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a> {% endfor %}{% endif %}</span>
        {% if page.extra.image %}<img class="rounded-lg" src="{{ page.extra.image }}" alt="">{% endif %}
        {% if page.extra.video %}<video class="rounded-lg" controls src="{{ page.extra.video }}" type="video/mp4"></video>{% endif %}
        {% if page.extra.raw %}{{ page.extra.raw | safe }}{% endif %}
        <div>{{ page.summary | safe }}<a class="text-green-400 hover:text-green-200 hover:underline" href="{{ page.permalink }}">Read more</a></div>
    </div>
    <hr class="mx-5 m-auto my-3">
{% endfor %}
{% endblock content %}
