<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="alternate" type="application/atom+xml" title="RSS" href="https://snowcode.ovh/atom.xml">
  <style>
  body {
  font-family: Karla;
  }
  .font-serif {
  font-family: Spectral;
  }
  </style>

  
<meta property="og:type" content="website">
<meta property="og:url" content="https:&#x2F;&#x2F;snowcode.ovh&#x2F;hugo&#x2F;">
<meta property="og:title" content="Creating a Hugo blog from scratch">
<meta property="og:description" content="&lt;p&gt;As you may have seen this blog have been made from scratch, there are some important advantages to do a blog using Hugo from scratch:">
<title>Creating a Hugo blog from scratch</title>


  
</head>
<body class="flex flex-col bg-black text-white m-3 md:w-2/3 m-auto text-lg">
  <header class="w-full flex flex-col text-green-400 md:m-5 md:flex-row">
    <h1 class="font-serif text-5xl font-bold m-auto hover:text-green-200 hover:underline md:m-0"><a href="https:&#x2F;&#x2F;snowcode.ovh">Snow</a></h1>
    <div class="text-center text-xl w-full md:text-right m-auto mx-5">
        
        <a href="https:&#x2F;&#x2F;snowcode.ovh&#x2F;fr"><span class="p-3 hover:text-green-200 hover:underline hover:font-bold">Français</span></a>
        
        <a href="https:&#x2F;&#x2F;snowcode.ovh"><span class="p-3 hover:text-green-200 hover:underline hover:font-bold">English</span></a>
        
        <a href="https:&#x2F;&#x2F;codeberg.org&#x2F;SnowCode"><span class="p-3 hover:text-green-200 hover:underline hover:font-bold">Git</span></a>
        
        <a href="https:&#x2F;&#x2F;social.snowcode.ovh&#x2F;snowcode"><span class="p-3 hover:text-green-200 hover:underline hover:font-bold">Fedi</span></a>
        
        <a href="https:&#x2F;&#x2F;snowcode.ovh&#x2F;atom.xml"><span class="p-3 hover:text-green-200 hover:underline hover:font-bold">RSS</span></a>
        
    </div>
   </header>

    
<div class="m-5">
    <h1 class="text-3xl font-bold font-serif">Creating a Hugo blog from scratch</h1>
    <span class="my-3">By <i>SnowCode</i>, <time>2021-04-29T21:55:45+02:00</time> </span> 
    
    
    
    <div><p class='my-3'>As you may have seen this blog have been made from scratch, there are some important advantages to do a blog using Hugo from scratch:<span id="continue-reading"></span></p>
<ul class='list-disc list-inside ml-12'>
<li>The blog is super-fast and super-light</li>
<li>It's fun</li>
<li>It's minimalist</li>
<li>You get exactly what you want, nothing more, nothing less</li>
</ul>
<p class='my-3'>So this is how I done it:</p>
<h2 class='text-3xl font-serif font-bold my-5' id="step-1-installing-hugo">Step 1: Installing Hugo</h2>
<p class='my-3'>I am not going to cover all the installation options of Hugo, so just follow the method you want from <a class='text-green-400 hover:underline'href="https://gohugo.io/getting-started/installing">this page</a>.</p>
<h2 class='text-3xl font-serif font-bold my-5' id="step-2-creating-the-theme-skeleton">Step 2: Creating the theme skeleton</h2>
<p class='my-3'>Now we need to create an empty blog with an empty theme:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="bash" style="background-color:#2b303b;color:#c0c5ce;" class="language-bash "><code class="language-bash" data-lang="bash"><span style="color:#bf616a;">hugo</span><span> new site quickstart
</span><span style="color:#96b5b4;">cd</span><span> quickstart/
</span><span style="color:#bf616a;">hugo</span><span> new theme custom
</span><span style="color:#96b5b4;">cd</span><span> themes/custom/
</span></code></pre>
<p class='my-3'>You are now in the root directory of your theme, which is for now empty, but we're going to fill it soon.</p>
<h2 class='text-3xl font-serif font-bold my-5' id="step-3-edit-the-defaults-layouts">Step 3: Edit the _defaults layouts</h2>
<p class='my-3'>That directory (<code>layouts/_defaults</code>) contains the basic layouts (that will contains other layouts inside called &quot;partials&quot;). So let's go into that directory:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="bash" style="background-color:#2b303b;color:#c0c5ce;" class="language-bash "><code class="language-bash" data-lang="bash"><span style="color:#96b5b4;">cd</span><span> layouts/_defaults
</span></code></pre>
<p class='my-3'>The <code>baseof.html</code> layout contains the root layout, every pages will depend on that one.</p>
<p class='my-3'>The <code>list.html</code> layout is used for list of posts, for now just add the following content to it: (it's basically just a link to a partial we'll create later)</p>
<pre class='my-3 p-3 overflow-auto' data-lang="html" style="background-color:#2b303b;color:#c0c5ce;" class="language-html "><code class="language-html" data-lang="html"><span>{{ define &quot;main&quot; }}
</span><span>{{- partial &quot;posts.html&quot; . -}}
</span><span>{{ end }}
</span></code></pre>
<p class='my-3'>The <code>single.html</code> layout is used for displaying articles. Same thing as for the precedent, we'll link it to a partial. That all the meaningful files will be in the &quot;partials&quot; directory.</p>
<pre class='my-3 p-3 overflow-auto' data-lang="html" style="background-color:#2b303b;color:#c0c5ce;" class="language-html "><code class="language-html" data-lang="html"><span>{{ define &quot;main&quot; }}
</span><span>{{- partial &quot;post.html&quot; . -}}
</span><span>{{ end }}
</span></code></pre>
<p class='my-3'>If you want you can now create a nice error message for the <code>404.html</code> file.</p>
<h2 class='text-3xl font-serif font-bold my-5' id="step-4-edit-the-partials">Step 4: Edit the partials</h2>
<p class='my-3'>The partials are small snippets of code that are integrated in <code>_default</code> layouts. Let's get into that dir:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="bash" style="background-color:#2b303b;color:#c0c5ce;" class="language-bash "><code class="language-bash" data-lang="bash"><span style="color:#96b5b4;">cd</span><span> ../partials
</span></code></pre>
<blockquote class='pl-10 py-3 my-5 w-full bg-gray-500'
<p class='my-3'>Note: All the partials with the exception of <code>post.html</code>, <code>posts.html</code>. Doesn't actually require templating...</p>
</blockquote>
<p class='my-3'>Let's treat it file by file:</p>
<p class='my-3'>The <code>footer.html</code> file contains the following:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="html" style="background-color:#2b303b;color:#c0c5ce;" class="language-html "><code class="language-html" data-lang="html"><span>&lt;</span><span style="color:#bf616a;">footer </span><span style="color:#8fa1b3;">id</span><span>=&quot;</span><span style="color:#a3be8c;">footer</span><span>&quot;&gt;
</span><span>    {{ .Site.Params.copyright }}
</span><span>&lt;/</span><span style="color:#bf616a;">footer</span><span>&gt;
</span></code></pre>
<p class='my-3'>The <code>header.html</code> file contains the code that will be displayed on the top of the website, you can create a menu there if you want, I personally just done this:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="html" style="background-color:#2b303b;color:#c0c5ce;" class="language-html "><code class="language-html" data-lang="html"><span>&lt;</span><span style="color:#bf616a;">header </span><span style="color:#8fa1b3;">id</span><span>=&quot;</span><span style="color:#a3be8c;">banner</span><span>&quot;&gt;
</span><span>    &lt;</span><span style="color:#bf616a;">h2</span><span>&gt;&lt;</span><span style="color:#bf616a;">a </span><span style="color:#d08770;">href</span><span>=&quot;</span><span style="color:#a3be8c;">{{ .Site.BaseURL }}</span><span>&quot;&gt;{{ .Site.Title }}&lt;/</span><span style="color:#bf616a;">a</span><span>&gt;&lt;/</span><span style="color:#bf616a;">h2</span><span>&gt;
</span><span>&lt;/</span><span style="color:#bf616a;">header</span><span>&gt;
</span></code></pre>
<p class='my-3'>The <code>head.html</code> file contains the meta-data of the website. I personally just have the following:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="html" style="background-color:#2b303b;color:#c0c5ce;" class="language-html "><code class="language-html" data-lang="html"><span>&lt;</span><span style="color:#bf616a;">head</span><span>&gt;
</span><span>    &lt;</span><span style="color:#bf616a;">link </span><span style="color:#d08770;">rel</span><span>=&quot;</span><span style="color:#a3be8c;">stylesheet</span><span>&quot; </span><span style="color:#d08770;">href</span><span>=&quot;</span><span style="color:#a3be8c;">/css/style.css</span><span>&quot;&gt;
</span><span>&lt;/</span><span style="color:#bf616a;">head</span><span>&gt;
</span></code></pre>
<h2 class='text-3xl font-serif font-bold my-5' id="step-5-new-partials">Step 5: New partials</h2>
<p class='my-3'>Now we'll create 2 new partials, <code>post.html</code> and <code>posts.html</code>.</p>
<p class='my-3'>Let's start with the content of <code>post.html</code>. This is mine:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="html" style="background-color:#2b303b;color:#c0c5ce;" class="language-html "><code class="language-html" data-lang="html"><span>&lt;</span><span style="color:#bf616a;">article</span><span>&gt;
</span><span>    &lt;</span><span style="color:#bf616a;">header </span><span style="color:#8fa1b3;">id</span><span>=&quot;</span><span style="color:#a3be8c;">post-header</span><span>&quot;&gt;
</span><span>        &lt;</span><span style="color:#bf616a;">h1</span><span>&gt;{{ .Title }}&lt;/</span><span style="color:#bf616a;">h1</span><span>&gt;
</span><span>            &lt;</span><span style="color:#bf616a;">div</span><span>&gt;
</span><span>            {{- if isset .Params &quot;date&quot; -}}
</span><span>                {{ if eq .Lastmod .Date }}
</span><span>                &lt;</span><span style="color:#bf616a;">time</span><span>&gt;{{ .Date.Format &quot;January 2, 2006&quot; }}&lt;/</span><span style="color:#bf616a;">time</span><span>&gt;
</span><span>                {{ else }}
</span><span>                Updated &lt;</span><span style="color:#bf616a;">time</span><span>&gt;{{ .Lastmod.Format &quot;January 2, 2006&quot; }}&lt;/</span><span style="color:#bf616a;">time</span><span>&gt;
</span><span>                {{ end }}
</span><span>            {{- end -}}
</span><span>            &lt;/</span><span style="color:#bf616a;">div</span><span>&gt;
</span><span>    &lt;/</span><span style="color:#bf616a;">header</span><span>&gt;
</span><span>    {{- .Content -}}
</span><span>&lt;/</span><span style="color:#bf616a;">article</span><span>&gt;
</span></code></pre>
<p class='my-3'>If you need more metadata, you can simply check out other's themes or visit <a class='text-green-400 hover:underline'href="https://gohugo.io/templates/">the documentation</a>.</p>
<p class='my-3'>Then this is my <code>posts.html</code> theme:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="html" style="background-color:#2b303b;color:#c0c5ce;" class="language-html "><code class="language-html" data-lang="html"><span>&lt;</span><span style="color:#bf616a;">h3</span><span>&gt;Posts&lt;/</span><span style="color:#bf616a;">h3</span><span>&gt;
</span><span>&lt;</span><span style="color:#bf616a;">ul </span><span style="color:#8fa1b3;">id</span><span>=&quot;</span><span style="color:#a3be8c;">posts</span><span>&quot;&gt;
</span><span>{{- range where site.RegularPages &quot;Type&quot; &quot;in&quot; site.Params.mainSections }}
</span><span>    &lt;</span><span style="color:#bf616a;">li</span><span>&gt;
</span><span>      &lt;</span><span style="color:#bf616a;">span </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">date</span><span>&quot;&gt;{{ .Date.Format &quot;Jan 2, 2006&quot; }}&lt;/</span><span style="color:#bf616a;">span</span><span>&gt;
</span><span>      &lt;</span><span style="color:#bf616a;">a </span><span style="color:#d08770;">class</span><span>=&quot;</span><span style="color:#a3be8c;">title</span><span>&quot; </span><span style="color:#d08770;">href</span><span>=&quot;</span><span style="color:#a3be8c;">{{ .Permalink }}</span><span>&quot;&gt;{{ .Title }}&lt;/</span><span style="color:#bf616a;">a</span><span>&gt;
</span><span>    &lt;/</span><span style="color:#bf616a;">li</span><span>&gt;
</span><span>{{- end }}
</span><span>&lt;/</span><span style="color:#bf616a;">ul</span><span>&gt;
</span></code></pre>
<p class='my-3'>We now have an operational basic template, we can now attack the styling...</p>
<h2 class='text-3xl font-serif font-bold my-5' id="step-7-set-your-index-page">Step 7: Set your index page</h2>
<p class='my-3'>Now you have the set your home page, simply add the following snippet into <code>layouts/index.html</code></p>
<pre class='my-3 p-3 overflow-auto' data-lang="html" style="background-color:#2b303b;color:#c0c5ce;" class="language-html "><code class="language-html" data-lang="html"><span>{{ define &quot;main&quot; }}
</span><span>{{- partial &quot;posts.html&quot; . -}}
</span><span>{{ end }}
</span></code></pre>
<h2 class='text-3xl font-serif font-bold my-5' id="step-6-styling">Step 6: Styling</h2>
<p class='my-3'>First we'll need to run the instance so let's create a fake post and run it:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="bash" style="background-color:#2b303b;color:#c0c5ce;" class="language-bash "><code class="language-bash" data-lang="bash"><span style="color:#96b5b4;">cd</span><span> ../../../../ </span><span style="color:#65737e;"># Return to the root of your blog
</span><span style="color:#bf616a;">hugo</span><span> new posts/hello.md
</span><span style="color:#96b5b4;">echo </span><span>&quot;</span><span style="color:#a3be8c;">Hello World</span><span>&quot; &gt;&gt; content/posts/hello.md
</span></code></pre>
<p class='my-3'>Then we have to set the theme to &quot;custom&quot; in the settings and run the server:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="bash" style="background-color:#2b303b;color:#c0c5ce;" class="language-bash "><code class="language-bash" data-lang="bash"><span style="color:#96b5b4;">echo</span><span> theme = &#39;</span><span style="color:#a3be8c;">&quot;custom&quot;</span><span>&#39; &gt;&gt; config.toml
</span><span style="color:#bf616a;">hugo</span><span> server</span><span style="color:#bf616a;"> -D
</span></code></pre>
<p class='my-3'>Now go on the url and open the inspector, and open &quot;Style Editor&quot;. You can now modify things on the page without restarting the server.</p>
<blockquote class='pl-10 py-3 my-5 w-full bg-gray-500'
<p class='my-3'><strong>NEVER RELOAD THE PAGE</strong> if you do so, all your changes will be lost!!!</p>
</blockquote>
<p class='my-3'>If you're not familiar with css, simply understand the syntax:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="css" style="background-color:#2b303b;color:#c0c5ce;" class="language-css "><code class="language-css" data-lang="css"><span style="color:#bf616a;">body </span><span>{
</span><span>  font-family: </span><span style="color:#a3be8c;">Karla</span><span>;
</span><span>}
</span><span>
</span><span>&lt;</span><span style="color:#bf616a;">element</span><span style="color:#b48ead;">&gt; </span><span>{
</span><span>  &lt;variable&gt;: &lt;value&gt;;
</span><span>}
</span></code></pre>
<p class='my-3'>Then you can simply use the inspector to get CSS code from other websites for instance. </p>
<p class='my-3'>Ideas of variables to change:</p>
<ul class='list-disc list-inside ml-12'>
<li><code>margin-top</code>, <code>margin-bottom</code>, <code>margin-left</code> and <code>margin-right</code>. Warning, those settings are sure important but they may not fit for all device's sizes. </li>
<li><code>font-family</code> and <code>font-size</code> to get better fonts than the default one.</li>
<li><code>background-color</code> and <code>color</code> to implement dark theme.</li>
<li><code>text-align</code> to center the titles for instance.</li>
</ul>
<h2 class='text-3xl font-serif font-bold my-5' id="step-7-more-styling">Step 7: More styling</h2>
<p class='my-3'>Now let's make our styles more versatile for instance, let's make those margins &quot;mobile-friendly&quot;. Simply do something along those lines:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="css" style="background-color:#2b303b;color:#c0c5ce;" class="language-css "><code class="language-css" data-lang="css"><span style="color:#bf616a;">body </span><span>{
</span><span>  &lt;settings to apply for most devices&gt; 
</span><span>}
</span><span>
</span><span style="color:#b48ead;">@media </span><span>(max-width: </span><span style="color:#d08770;">1000px</span><span>) {
</span><span>  </span><span style="color:#bf616a;">body </span><span>{
</span><span>    &lt;settings to apply for phones&gt;
</span><span>  }
</span><span>}
</span></code></pre>
<p class='my-3'>For all your other needs, simply look on the web how to do it, or copy the code from somebody else.</p>
<p class='my-3'>Once you done all of this, you can copy all the css code into <code>themes/custom/static/css/style.css</code>.</p>
<h2 class='text-3xl font-serif font-bold my-5' id="step-8-write-posts">Step 8: Write posts</h2>
<p class='my-3'>To write posts, simply run:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="bash" style="background-color:#2b303b;color:#c0c5ce;" class="language-bash "><code class="language-bash" data-lang="bash"><span style="color:#bf616a;">hugo</span><span> new posts/&lt;name in url&gt;.md
</span><span style="color:#bf616a;">nano</span><span> content/posts/&lt;name in url&gt;.md
</span></code></pre>
<p class='my-3'>Then fill that file with your post, written in markdown.</p>
<h2 class='text-3xl font-serif font-bold my-5' id="step-9-publish">Step 9: Publish</h2>
<p class='my-3'>You can now create a publishing script, so you just have to run it to publish all your posts to your server:</p>
<pre class='my-3 p-3 overflow-auto' data-lang="bash" style="background-color:#2b303b;color:#c0c5ce;" class="language-bash "><code class="language-bash" data-lang="bash"><span style="color:#65737e;">#!/bin/bash
</span><span style="color:#bf616a;">hugo -D
</span><span style="color:#bf616a;">rsync -r</span><span> public/* &lt;username&gt;@&lt;ip of your server&gt;:&lt;path to your web server directory&gt;
</span></code></pre>
<h2 class='text-3xl font-serif font-bold my-5' id="conclusion">Conclusion</h2>
<p class='my-3'>So that's how I created this blog. Note the stylesheet still evolves over time depending on my inspiration :P.</p>

    </div>
</div>



    <footer class="text-center mx-3">
        <p>Made with love using <a class="text-green-400 hover:text-green-200 hover:underline" href="https://getzola.org">zola</a> and <a class="text-green-400 hover:text-green-200 hover:underline" href="https://tailwindcss.com">tailwind</a>. All content here is under the <a class="text-green-400 hover:text-green-200 hover:underline" href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> license.</p>
    </footer>
</body>
</html>
